<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911499303394-kfflklu4007h8moc2unvmmdtf2d7nqrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911499303394-kfflklu4007h8moc2unvmmdtf2d7nqrk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>911499303394-0reino6nmgqfd0lqvf87p21b0lteh489.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7C0G2eQGKOwWbnhgtfIr3E3NLIb520IU</string>
	<key>GCM_SENDER_ID</key>
	<string>911499303394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carParkingApplication</string>
	<key>PROJECT_ID</key>
	<string>parkingapplication-e49be</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingapplication-e49be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911499303394:ios:148e223fcdef7860bb01bb</string>
	<key>DATABASE_URL</key>
	<string>https://parkingapplication-e49be-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>